body {

    margin: 0;
    padding: 0;

}


/* ------------------- Titel ------------------ */

#titelbillede {

    background-image: url(blaabaggrund.png);
    width: 100%;
    height: 100%;

    background-size: cover;

    position: absolute;
}

#logo {

    background-image: url(privatsnaklogo.png);

    background-size: 100%, 100%;

    width: 68.2vw;
    height: 51vw;

    left: 12vw;
    top: 7vw;
    position: absolute;

    animation-name: logo_kf;
    animation-duration: infinite;
    animation-iteration-count: 1;

}

#logo:hover {

    transform: scale(1.1);
}

/* ---------------- BAGGRUNDE --------------- */

#scene {

    width: 100vw;
    /* svarer til 1600px */
    height: 67.5vw;
    /* svarer til 900 px */
    position: relative;

}

#skaerm1 {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;


    position: absolute;

    background-image: url(scene1-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 1;
}

#skaerm2 {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    left: 45vw;

    position: absolute;

    background-image: url(scene2-01-kopi.svg);
    background-size: 100%, 100%;


    z-index: 2;
}

#skaerm3 {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 25.3vw;

    position: absolute;

    background-image: url(scene3-01-kopi.jpg);
    background-size: 100%, 100%;


    z-index: 3;
}

#skaerm4 {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 25.3vw;
    left: 45vw;

    position: absolute;

    background-image: url(scene4-01-kopi.svg);
    background-size: 100%, 100%;


    z-index: 4;

}

#fuldskaerm {

    width: 90vw;
    height: 50.62vw;


    position: absolute;

    background-image: url(scene4-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 100;

}



/* ---------------- SPRITESHEETS --------------- */

#person1_sprite {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 0vw;
    left: 0vw;

    position: absolute;

    background-image: url(pige1-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 2;

}

#person2_sprite {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 0vw;
    left: 0vw;

    position: absolute;

    background-image: url(pige2-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 3;
}

#person3_sprite {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 0vw;
    left: 0vw;

    position: absolute;

    background-image: url(dreng2-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 2;
}

#person4_sprite {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 0vw;
    left: 0vw;

    position: absolute;

    background-image: url(pige3_3-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 2;
}

#person5_sprite {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 0vw;
    left: 0vw;

    position: absolute;

    background-image: url(pige2_3-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 3;
}

#person6_sprite {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 0vw;
    left: 0vw;

    position: absolute;

    background-image: url(pige4_3-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 2;
}

#person7_sprite {

    width: 100%;
    height: 100%;

    width: 45vw;
    height: 25.31vw;

    top: 0vw;
    left: 0vw;

    position: absolute;

    background-image: url(pige1_3-01-kopi.svg);
    background-size: 100%, 100%;

    z-index: 2;
}


#betina_sprite {

    width: 100%;
    height: 100%;

    width: 16.35vw;
    height: 23.4vw;

    top: 2vw;
    left: 27vw;

    position: absolute;

    background-image: url(betina-01-kopi.svg);
    background-size: 300%, 100%;

    z-index: 2;

}

/* ----------------- BETINAS REAKTION --------------- */

.reaktion {

    animation-name: reaction_kf;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(3);

}


@keyframes reaction_kf {

    0% {
        background-position: 0 0;

    }

    100% {
        background-position: -300% 0%;

    }

}

/* ----------------- KLIK PÅ BILLEDE --------------- */

.billede {
    width: 12.0vw;
    height: 17.35vw;
    background-size: cover;
    background-image: url(mobil_nogen-01.svg);
    position: absolute;

}

.nr1 {
    top: 0vw;
    left: 15vw;
}

.nr2 {
    top: 16vw;
    left: 15vw;
}

.nr3 {
    top: 32vw;
    left: 15vw;
}

.nr4 {
    top: 0vw;
    left: 35vw;
}

.nr5 {
    top: 16vw;
    left: 35vw;
}

.nr6 {
    top: 32vw;
    left: 35vw;
}

.nr7 {
    top: 32vw;
    left: 55vw;
}

.nr8 {
    top: 0vw;
    left: 55vw;
}

.nr9 {
    top: 16vw;
    left: 55vw;
}

/* ----------------- BILLEDE PULS --------------- */

.puls {
    animation-name: puls_kf;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes puls_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

/* ------------ slutningA --------------- */

.slutningA {

    animation-name: slutninga_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes slutninga_kf {

    0% {
        background-image: url(slutninga.png);
        width: 100%;
        height: 100%;

        background-size: cover;

        position: absolute;
    }


    100% {
        background-image: url(slutninga.png);
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
    }
}

/* ------------ slutningB --------------- */

/* ------------ tekst beskeder ------------ */

#tekst_container {

    animation-name: tekst_container_kf;
    animation-duration: 20s;
    animation-iteration-count: 1;
    position: absolute;


}

@keyframes tekst_container_kf {

    0% {
        top: 5vw;
    }

    100% {

        top: -10vw;
    }

}

#tekst_1 {

    background-image: url(Chatbeskeder%20-%20Connie.png);
    background-size: 500%, 100%;

    width: 18.75vw;
    height: 30.31vw;

    z-index: 200;

    position: absolute;

    animation-name: tekst1_kf;
    animation-duration: 12s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);

}

@keyframes tekst1_kf {

    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -500% 0%;
    }
}
